<footer class="footer-area">
  <!-- Footer Top -->
  <div class="footer-top">
      <div class="container" style="margin-top: -73px;">
          <div class="row">
              <div class="col-12 col-sm-6 col-lg-3 res-margin">
                  <!-- Footer Items -->
                  <div class="footer-items">
                      <!-- Logo -->
                      <a class="navbar-brand d-flex" href="/" style="justify-content: center;">
                        <div class="footer-logo">
                            <img src="../assets/website/img/logo/hope-footer-site.png" alt="Hope Logo">
                        </div>
                      </a>
                      <p style="text-align: -webkit-center;" name="translate" caption="footer_desc">The best Discord bot to bootstrap and grow your Discord server</p>
                      <!-- Social Icons -->
                      <div class="social-icons d-flex" style="flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: center;">
                          <a class="twitter" href="#">
                              <i class="fab fa-twitter"></i>
                              <i class="fab fa-twitter"></i>
                          </a>
                          <a class="github" href="#">
                              <i class="fab fa-github"></i>
                              <i class="fab fa-github"></i>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3 res-margin">
                  <!-- Footer Items -->
                  <div class="footer-items">
                      <!-- Footer Title -->
                      <h4 class="footer-title" name="translate" caption="footer_item1">Useful Links</h4>
                      <ul>
                          <li><a href="/blog/terms-of-service" name="translate" caption="footer_item2">Terms of Service</a></li>
                          <li><a href="/blog/privacy-policy" name="translate" caption="footer_item3">Privacy Policy</a></li>
                          <li><a href="/blog/cookie-policy" name="translate" caption="footer_item4">Cookie Policy</a></li>
                          <li><a href="/data-removal" name="translate" caption="footer_item5">Data removal</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3 res-margin">
                  <!-- Footer Items -->
                  <div class="footer-items">
                      <!-- Footer Title -->
                      <h4 class="footer-title" name="translate" caption="footer_item6">Community</h4>
                      <ul>
                          <li><a href="/helper-center" name="translate" caption="footer_item7">Help Center</a></li>
                          <li><a href="/partners" name="translate" caption="footer_item8">Partners</a></li>
                          <li><a href="/public-servers" name="translate" caption="footer_item9">Public Servers</a></li>
                          <li><a href="/blog" name="translate" caption="footer_item10">Blog</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                  <!-- Footer Items -->
                  <div class="footer-items">
                    <!-- Footer Title -->
                    <h4 class="footer-title" name="translate" caption="footer_item11">On The Web</h4>
                    <ul>
                        <li><a href="https://top.gg/bot/901243176814276680/vote">Top.gg</a></li>
                        <li><a href="https://discordbotlist.com/bots/hope-0104/upvote">DBL</a></li>
                        <li><a href="https://voidbots.net/bot/901243176814276680/vote">Void Bots</a></li>
                    </ul>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer Bottom -->
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Copyright Area -->
                  <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                      <!-- Copyright Left -->
                      <div class="copyright-left"><span name="translate" caption="footer_copyright">Copyright &copy;</span> <%= new Date().getFullYear() %> <span name="translate" caption="footer_copyright1">DawnForge. All rights reserved.</span></div>
                      <!-- Copyright Center -->
                      <div class="copyright-center"><span name="translate" caption="footer_warn">Not affiliated with Discord.</span></div>
                      <!-- Copyright Right -->
                      <div class="copyright-right"><span name="translate" caption="footer_df">Made with</span> <i class="fas fa-heart" style="color: red;"></i> <span name="translate" caption="footer_df1">By</span> <a href="#">DawnForge</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>