<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('./partials/_seo.ejs') %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Apply - Hope</title>
</head>

<link rel="stylesheet" type="text/css" href="../../css/style.css">
<div class="content">

  <h2>Select a server to Apply to</h2>

  <div class="servers">
    <% user.guilds.forEach(guild => { %>

    <% if (guild.icon) {
        iconurl = "http://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png??size=512";
    } else {
        iconurl = "https://ui-avatars.com/api/?name=" + guild.name + "&background=5865f2&color=fff";
    } %>

    <div class="server">
      <div class="icon-and-name">
        <img class="server-icon" src="<%= iconurl %>" alt="<% guild.name %>" />
        <p class="guild-name"><%= guild.name %></p>
      </div>
      
      <a class="edit button" href="/apply/<%= guild.id %>">Apply</a>

    </div>
    <% }); %>
  </div>