<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Cookie Policy - Hope</title>

  <!-- Favicon  -->
  <link rel="icon" href="assets/website/img/favicon.png" />

  <!-- ***** All CSS Files ***** -->

  <!-- Style css -->
  <link rel="stylesheet" href="/assets/website/css/style.css" />
</head>

<body>
  <div class="main">
    <!-- ***** Header Start ***** -->
    <%- include('./partials/_header.ejs') %>
    <!-- ***** Header End ***** -->

    <!-- ***** Breadcrumb Area Start ***** -->
    <section class="breadcrumb-area overlay-dark d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Breamcrumb Content -->
            <div class="breadcrumb-content text-center">
              <h2 class="m-0">Cookie Policy</h2>
              <ol class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                <li class="breadcrumb-item">Cookie Policy</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Single Area Start ***** -->
    <section class="single featured post-details">
      <div class="container">
        <div class="row">
          <!-- Main -->
          <div class="col-12 col-lg-8 p-0">
            <div class="row">
              <div class="col-12 align-self-center">
                <!-- Image -->
                <div class="blog-thumb">
                  <img class="w-100" src="https://blog.ipleaders.in/wp-content/uploads/2021/09/bluestar_webbox_cookie-policy_1024x512_1218_V1_PRESS.jpg" alt="" />
                </div>

                <h4>What are cookies?</h4>
                <p>
                  Cookies" are small software tags that are stored in your
                  computer in the browser, retaining information related to
                  your preferences, which does not include personal data.<br /><br />
                </p>
                <h4>What are cookies used for?</h4>
                <p>
                  Cookies help determine the usefulness, relevance and number
                  of accesses to a website, besides giving users' a faster and
                  more efficient browsing experience, by reducing the need to
                  repeatedly insert the same information.<br /><br />
                </p>
                <h4>What type of cookies do we use?</h4>
                <p>There are two groups of cookies we use:</p>
                <p>
                  <strong>- Permanent cookies</strong> - are stored in the
                  devices browser (PC, mobile phones and tablets) and are used
                  whenever one visits our website. They are generally used to
                  adjust navigation to the users interests, allowing us to
                  offer a more personalized service.
                </p>
                <p>
                  <strong>- Session cookies</strong> - are temporary cookies
                  that remain in the browsers cookies archive until you leave
                  the website. The information obtained by these cookies is
                  used to analise web navigation patterns, allowing us to
                  identify problems and offer a better browsing experience.<br /><br />
                </p>
                <h4>What is the purpose of the cookies we use?</h4>
                <p>
                  <strong>- Strictly necessary cookies</strong> - They allow
                  users to browse the website and use its apps, as well as to
                  access secure areas. Without these cookies, some services
                  requested by a user may not be offered.
                </p>
                <p>
                  <strong>- Analytical cookies</strong> - Are used anonymously
                  to gather and analyse statistics in order to improve the
                  website.
                </p>
                <p>
                  <strong>- Functionality cookies</strong> - Save user's
                  preferences regarding the use of the website, so that it
                  doesnt have to be reconfigured in each visit.
                </p>
                <p>
                  <strong>- Third-Party Cookies</strong> - Measure the success
                  of applications and the efficiency of third-parties'
                  advertisement. They may also be used to personalize a widget
                  with users' data.
                </p>
                <p>
                  <strong>- Advertising cookies</strong> - They direct
                  advertising according to the interests of each user, in
                  order to direct the advertising to take into account the
                  users tastes and also limit the number of times a user sees
                  an ad, helping to measure the ads' efficiency and the
                  success of the websites' organization.<br /><br />
                </p>
                <h4>How can you manage cookies?</h4>
                <p>
                  Every browser allows users to accept, refuse or delete
                  cookies. You can configure cookies in the "Options" or
                  "Preferences" menu of your browser.
                </p>
                <p>
                  Please note that disabling cookies may prevent some web
                  services to work correctly, affecting the website's
                  navigation, partly or completely.
                </p>

                <!--
                <h1 style="text-align: center;">Sobre Cookies</h1>
                <br>
                <h4> O que são cookies? </h4>
                <p>"Cookies" são pequenas etiquetas de software que são armazenadas no seu computador através do navegador (browser), retendo apenas informação relacionada com as suas preferências, não incluindo, como tal, os seus dados pessoais.<br><br></p>
                <h4> Para que servem os Cookies?</h4>
                <p>Os cookies servem para ajudar a determinar a utilidade, interesse e o número de utilizações dos seus websites, permitindo uma navegação mais rápida e eficiente, eliminando a necessidade de introduzir repetidamente as mesmas informações.<br><br></p>
                <h4> Que tipo de cookies existem?</h4>
                <p>Existem dois grupos cookies que podem ser utilizados</p>
                <p>
                  <strong>- Cookies permanentes</strong> - são cookies que ficam armazenados ao nível do browser nos seus equipamentos de acesso (PC, mobile e tablet) e que são utilizados sempre que faz uma nova visita a um dos nossos websites. São utilizados, geralmente, para direcionar a navegação aos interesses do utilizador, permitindo-nos prestar um serviço mais personalizado.
                </p>
                <p>
                  <strong>- Cookies de sessão</strong> - são cookies temporários que permanecem no arquivo de cookies do seu browser até sair do website. A informação obtida por estes cookies serve para analisar padrões de tráfego na web, permitindo-nos identificar problemas e fornecer uma melhor experiencia de navegação.<br><br>
                </p>
                <h4> Para que fins utilizamos cookies?</h4>
                <p>
                  <strong>- Cookies estritamente necessário</strong>s - Permitem que navegue no website e utilize as suas aplicações, bem como aceder a áreas seguras do website. Sem estes cookies, os serviços que tenha requerido não podem ser prestados.
                </p>
                <p>
                  <strong>- Cookies analíticos</strong> - São utilizados anonimamente para efeitos de criação e análise de estatísticas, no sentido de melhorar o funcionamento do website.
                </p>
                <p>
                  <strong>- Cookies de funcionalidade</strong> - Guardam as preferências do utilizador relativamente à utilização do site, para que não seja necessário voltar a configurar o site cada vez que o visita.
                </p>
                <p>
                  <strong>- Cookies de terceiros</strong> - Medem o sucesso de aplicações e a eficácia da publicidade de terceiros. Podem também ser utilizados no sentido de personalizar um widget com dados do utilizador.
                </p>
                <p>
                  <strong>Cookies de publicidade</strong> - Direcionam a publicidade em função dos interesses de cada utilizador, por forma a direcionar as campanhas publicitárias tendo em conta os gostos dos utilizadores, sendo que, além disso, limitam a quantidade de vezes que vê o anúncio, ajudando a medir a eficácia da publicidade e o sucesso da organização do website.<br><br>
                </p>
                <h4>Como pode gerir os cookies?</h4>
                <p>Todos os browsers permitem ao utilizador aceitar, recusar ou apagar cookies, nomeadamente através da seleção das definições apropriadas no respetivo navegador. Pode configurar os cookies no menu "opções" ou "preferências" do seu browser.</p>
                <p>Note-se, no entanto, que, ao desativar cookies, pode impedir que alguns serviços da web funcionem corretamente, afetando, parcial ou totalmente, a navegação no website.<br><br></p>
                <h4>Links</h4>
                <p>Para obter mais informações sobre cookies e a respetiva utilização, sugerimos que consulte os seguintes links, que apenas se encontram em versão inglesa: </p>
                <a title="Consultar Guia de Cookies da Microsoft (em inglês)" href="http://www.microsoft.com/info/cookies.mspx" target="_blank">Microsoft Cookies Guide</a> &ZeroWidthSpace;
                <br><a title="Consultar site All About Cookies (em inglês)" href="http://www.allaboutcookies.org/" target="_blank">All About Cookies&ZeroWidthSpace;&ZeroWidthSpace;</a>&ZeroWidthSpace;&ZeroWidthSpace;
              -->

                <!-- Post Holder -->
                <ul class="mb-5 post-holder">
                  <li class="post-meta-item">
                    <div class="date">
                      <span class="posted-on">Last modified:
                        <a href="#" rel="bookmark"><time class="entry-date published updated" datetime="2022-10-11T06:18:46+00:00">Oct 11, 2022</time></a></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Sidebar -->
          <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
            <div class="row">
              <div class="col-12 align-self-center text-left">
                <!-- Widget [categories] -->
                <div class="item widget-categories">
                  <h4 class="title">Categories</h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Transportation</a>
                      <span class="badge circle">23</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Business</a>
                      <span class="badge circle">15</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Lifestyle</a>
                      <span class="badge circle">12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Development</a>
                      <span class="badge circle">29</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Logistics</a>
                      <span class="badge circle">16</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Consulting</a>
                      <span class="badge circle">13</span>
                    </li>
                  </ul>
                </div>

                <!-- Widget [tags] -->
                <div class="item widget-tags">
                  <h4 class="title">Popular Tags</h4>

                  <a href="" class="badge tag">Business</a>
                  <a href="" class="badge tag">Logistics</a>
                  <a href="" class="badge tag">Cargo</a>
                  <a href="" class="badge tag">Shipping</a>
                  <a href="" class="badge tag">Transportation</a>
                  <a href="" class="badge tag">WordPress</a>
                  <a href="" class="badge tag">Development</a>
                  <a href="" class="badge tag">Industry</a>
                </div>

                <!-- Widget [share-this] -->
                <div class="item widget-share-this">
                  <h4 class="title">Share This</h4>
                  <ul class="navbar-nav social share-list">
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-instagram ml-0"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <!-- ***** Blog Single Area End ***** -->

    <!--====== Footer Area Start ======-->
    <%- include('./partials/_footer.ejs') %>
    <!--====== Footer Area End ======-->

    <!--====== Modal Search Area Start ======-->
    <div id="search" class="modal fade p-0">
      <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
          <div class="modal-header" data-dismiss="modal">
            Search <i class="far fa-times-circle icon-close"></i>
          </div>
          <div class="modal-body">
            <form class="row">
              <div class="col-12 align-self-center">
                <div class="row">
                  <div class="col-12 pb-3">
                    <h2 class="search-title mt-0 mb-3">
                      What are you looking for?
                    </h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 input-group mt-4">
                    <input type="text" placeholder="Enter your keywords" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 input-group align-self-center">
                    <button class="btn btn-bordered-white mt-3">
                      Search
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--====== Modal Search Area End ======-->

    <!--====== Modal Responsive Menu Area Start ======-->
    <div id="menu" class="modal fade p-0">
      <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
          <div class="modal-header" data-dismiss="modal">
            Menu <i class="far fa-times-circle icon-close"></i>
          </div>
          <div class="menu modal-body">
            <div class="row w-100">
              <div class="items p-0 col-12 text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== Modal Responsive Menu Area End ======-->

    <!--====== Scroll To Top Area Start ======-->
    <div class="scroll-top">
      <a class="smoothscroll" href="#top" name="translate" caption="scroll_to_top">Scroll to Top
      </a>
    </div>
    <!--====== Scroll To Top Area End ======-->
  </div>

  <style>
    p {
      margin: 0 !important;
      font-size: var(--p-size);
      font-weight: var(--p-weight);
      line-height: 1.5;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  </style>

  <!-- ***** All jQuery Plugins ***** -->

  <!-- jQuery(necessary for all JavaScript plugins) -->
  <script src="assets/website/js/vendor/jquery.min.js"></script>

  <!-- Bootstrap js -->
  <script src="assets/website/js/vendor/popper.min.js"></script>
  <script src="assets/website/js/vendor/bootstrap.min.js"></script>

  <!-- Plugins js -->
  <script src="assets/website/js/vendor/all.min.js"></script>
  <script src="assets/website/js/vendor/slider.min.js"></script>
  <script src="assets/website/js/vendor/countdown.min.js"></script>
  <script src="assets/website/js/vendor/shuffle.min.js"></script>

  <!-- Active js -->
  <script src="assets/website/js/main.js"></script>
</body>

</html>