<!doctype html>
<html class="no-js" lang="en">

    <head>
        <%- include('./partials/_seo.ejs') %>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      
        <!-- Title  -->
        <title>Helper Center | Hope</title>
      
        <!-- Style css -->
        <link rel="stylesheet" href="assets/website/css/style.css">
        <noscript>
          <div class="no-js">
            To view the page please enable javascript in your browser
          </div>
        </noscript>
      </head>

<body>
    <div class="main">
     <!-- ***** Header Start ***** -->
     <%- include('./partials/_header.ejs') %>
     <!-- ***** Header End ***** -->

        <!-- ***** Breadcrumb Area Start ***** -->
        <section class="breadcrumb-area overlay-dark d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Breamcrumb Content -->
                        <div class="breadcrumb-content text-center">
                            <h2 class="m-0" name="translate" caption="helpercenter1">Help Center</h2>
                            <ol class="breadcrumb d-flex justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Community</a></li>
                                <li class="breadcrumb-item active"><span name="translate" caption="helpercenter1">Help Center</span></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Breadcrumb Area End ***** -->

        <!-- ***** Help Center Area Start ***** -->
        <section class="help-center-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-7">
                        <!-- Intro -->
                        <div class="intro text-center">
                            <span name="translate" caption="helpercenter1">Help Center</span>
                            <h3 class="mt-3 mb-0" name="translate" caption="helpercenter2">How can we help you?</h3>
                            <p><p name="translate" caption="helpercenter3">Veja se nossos principais artigos, ou nossa seção de perguntas frequentes podem te ajudar, cao cnotrario, sinta-se a vontade para buscar ajuda no </p> <a href="/support" name="translate" caption="helpercenter4">servidor de suporte</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center items">
                    <div class="col-12 col-md-6 col-lg-4 item">
                        <!-- Help Card -->
                        <div class="card help-card">
                            <a class="d-block text-center" href="#">
                                <i class="icon icon-plane text-effect"></i>
                                <h4 name="translate" caption="helpercenter5">Getting Started</h4>
                                <p name="translate" caption="helpercenter6">Está perdido? Veja por onde começar após adicionar Hope em seu servidor</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 item">
                        <!-- Help Card -->
                        <div class="card help-card">
                            <a class="d-block text-center" href="#">
                                <i class="icon icon-note text-effect"></i>
                                <h4 name="translate" caption="helpercenter7">Auto Animes</h4>
                                <p name="translate" caption="helpercenter8">Aprenda como adicionar seu anime favorito a lista de observação em seu servidor</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 item">
                        <!-- Help Card -->
                        <div class="card help-card">
                            <a class="d-block text-center" href="#">
                                <i class="icon icon-handbag text-effect"></i>
                                <h4 name="translate" caption="helpercenter9">Premium</h4>
                                <p name="translate" caption="helpercenter10">Aprenda como comprar premium e resgata-lo em seu servidor</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 item">
                        <!-- Help Card -->
                        <div class="card help-card">
                            <a class="d-block text-center" href="#">
                                <i class="icon icon-chart text-effect"></i>
                                <h4 name="translate" caption="helpercenter11">Moderation</h4>
                                <p name="translate" caption="helpercenter12">Aprenda como proteger seu servidor contra raiders e trolls</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 item">
                        <!-- Help Card -->
                        <div class="card help-card">
                            <a class="d-block text-center" href="#">
                                <i class="icon icon-link text-effect"></i>
                                <h4 name="translate" caption="helpercenter13">Partners</h4>
                                <p name="translate" caption="helpercenter14">Aprenda como se tornar um parceiro</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 item">
                        <!-- Help Card -->
                        <div class="card help-card">
                            <a class="d-block text-center" href="#">
                                <i class="icon icon-flag text-effect"></i>
                                <h4 name="translate" caption="helpercenter15">Ticket</h4>
                                <p name="translate" caption="helpercenter16">Aprenda como configurar o sistema de Tickets corretamente no seu servidor</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Help Center Area End ***** -->

        <!-- ***** FAQ Area Start ***** -->
        <section class="faq-area pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-7">
                        <!-- Intro -->
                        <div class="intro text-center">
                            <span name="translate" caption="helpercenter17">FAQ</span>
                            <h3 class="mt-3 mb-0" name="translate" caption="helpercenter18">Frequently Asked Questions</h3>
                            <p name="translate" caption="helpercenter19">Encontre respostas para as principais perguntas que recebemos de nossos usuários.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <!-- FAQ Content -->
                        <div class="faq-content">
                            <!-- Hope Accordion -->
                            <div class="accordion" id="hope-accordion">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-10">
                                        <!-- Single Accordion Item -->
                                        <div class="single-accordion-item p-3">
                                            <!-- Card Header -->
                                            <div class="card-header bg-inherit border-0 p-0">
                                                <h2 class="m-0">
                                                    <button class="btn d-block text-left w-100 py-4" type="button" data-toggle="collapse" data-target="#collapseOne" name="translate" caption="helpercenter20">
                                                        What does premium do?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#hope-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body py-3">
                                                    <span name="translate" caption="helpercenter21">By purchasing Premium you support development of Hope and unlock extra features to improve your overall experience. A list of key features can be found</span> <a href="/premium" name="translate" caption="helpercenter22">here</a>!
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="single-accordion-item p-3">
                                            <!-- Card Header -->
                                            <div class="card-header bg-inherit border-0 p-0">
                                                <h2 class="m-0">
                                                    <button class="btn d-block text-left w-100 collapsed py-4" type="button" data-toggle="collapse" data-target="#collapseTwo" name="translate" caption="helpercenter23">
                                                        On how many servers can I use premium?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#hope-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body py-3">
                                                    <span name="translate" caption="helpercenter24">Premium can only be used on one server. If you wish to unlock the premium features on multiple servers, you have to buy it again.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="single-accordion-item p-3">
                                            <!-- Card Header -->
                                            <div class="card-header bg-inherit border-0 p-0">
                                                <h2 class="m-0">
                                                    <button class="btn d-block text-left w-100 collapsed py-4" type="button" data-toggle="collapse" data-target="#collapseThree" name="translate" caption="helpercenter25">
                                                        Can I pay with another currency?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#hope-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body py-3">
                                                    <span name="translate" caption="helpercenter26">Yes! At checkout, Paypal will tell you the transfer rate and how much premium costs in your currency. Everything happens automatically!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="single-accordion-item p-3">
                                            <!-- Card Header -->
                                            <div class="card-header bg-inherit border-0 p-0">
                                                <h2 class="m-0">
                                                    <button class="btn d-block text-left w-100 collapsed py-4" type="button" data-toggle="collapse" data-target="#collapseFour" name="translate" caption="helpercenter27">
                                                        Can I transfer my premium to another server?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#hope-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body py-3">
                                                    <span name="translate" caption="helpercenter28">This is currently not possible. Please contact us if you accidentally purchased premium for a wrong server.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion Item -->
                                        <div class="single-accordion-item p-3">
                                            <!-- Card Header -->
                                            <div class="card-header bg-inherit border-0 p-0">
                                                <h2 class="m-0">
                                                    <button class="btn d-block text-left w-100 collapsed py-4" type="button" data-toggle="collapse" data-target="#collapseFive" name="translate" caption="helpercenter29">
                                                        How can I support development even more?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFive" class="collapse" data-parent="#hope-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body py-3">
                                                    <span name="translate" caption="helpercenter30">There are a ton of ways you can help out! Things like boosting the support server and donations are greatly appreciated! You can apply for staff too! Join The support server for more information.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-accordion-item p-3">
                                            <!-- Card Header -->
                                            <div class="card-header bg-inherit border-0 p-0">
                                                <h2 class="m-0">
                                                    <button class="btn d-block text-left w-100 collapsed py-4" type="button" data-toggle="collapse" data-target="#collapseSix" name="translate" caption="helpercenter31">
                                                        When will my premium be activated?
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseSix" class="collapse" data-parent="#hope-accordion">
                                                <!-- Card Body -->
                                                <div class="card-body py-3">
                                                    <span name="translate" caption="helpercenter32">After payment, open a ticket on the support server or contact Klaus#1565.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** FAQ Area End ***** -->

        <!--====== Footer Area Start ======-->
        <%- include('./partials/_footer.ejs') %>
        <!--====== Footer Area End ======-->

        <!--====== Modal Search Area Start ======-->
        <div id="search" class="modal fade p-0">
            <div class="modal-dialog dialog-animated">
                <div class="modal-content h-100">
                    <div class="modal-header" data-dismiss="modal">
                        Search <i class="far fa-times-circle icon-close"></i>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-12 align-self-center">
                                <div class="row">
                                    <div class="col-12 pb-3">
                                        <h2 class="search-title mt-0 mb-3">What are you looking for?</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group mt-4">
                                        <input type="text" placeholder="Enter your keywords">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group align-self-center">
                                        <button class="btn btn-bordered-white mt-3">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--====== Modal Search Area End ======-->

        <!--====== Modal Responsive Menu Area Start ======-->
        <div id="menu" class="modal fade p-0">
            <div class="modal-dialog dialog-animated">
                <div class="modal-content h-100">
                    <div class="modal-header" data-dismiss="modal">
                        Menu <i class="far fa-times-circle icon-close"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== Modal Responsive Menu Area End ======-->

  <!--====== Scroll To Top Area Start ======-->
  <div class="scroll-top">
    <a class="smoothscroll" href="#top" name="translate" caption="scroll_to_top">Scroll to Top
    </a>
  </div>
  <!--====== Scroll To Top Area End ======-->
  <style>
    p {
      margin: 0 !important;
      font-size: var(--p-size);
      font-weight: var(--p-weight);
      line-height: 1.5;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  </style>
    </div>


    <!-- ***** All jQuery Plugins ***** -->

    <!-- jQuery(necessary for all JavaScript plugins) -->
    <script src="assets/website/js/vendor/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script src="assets/website/js/vendor/popper.min.js"></script>
    <script src="assets/website/js/vendor/bootstrap.min.js"></script>

    <!-- Plugins js -->
    <script src="assets/website/js/vendor/all.min.js"></script>
    <script src="assets/website/js/vendor/slider.min.js"></script>
    <script src="assets/website/js/vendor/countdown.min.js"></script>
    <script src="assets/website/js/vendor/shuffle.min.js"></script>

    <!-- Active js -->
    <script src="assets/website/js/main.js"></script>
    <script src="../../js/translate-manager.js"></script>
</body>

</html>