<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Privacy Policy - Hope</title>

  <!-- Favicon  -->
  <link rel="icon" href="assets/website/img/favicon.png">

  <!-- ***** All CSS Files ***** -->

  <!-- Style css -->
  <link rel="stylesheet" href="assets/website/css/style.css">

</head>

<body>
  <div class="main">
    <!-- ***** Header Start ***** -->
    <%- include('./partials/_header.ejs') %>
    <!-- ***** Header End ***** -->

    <!-- ***** Breadcrumb Area Start ***** -->
    <section class="breadcrumb-area overlay-dark d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Breamcrumb Content -->
            <div class="breadcrumb-content text-center">
              <h2 class="m-0">Privacy Policy</h2>
              <ol class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                <li class="breadcrumb-item"><a href="/privacy-policy">Privacy Policy</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Single Area Start ***** -->
    <section class="single featured post-details">
      <div class="container">
        <div class="row">
          <!-- Main -->
          <div class="col-12 col-lg-8 p-0">
            <div class="row">
              <div class="col-12 align-self-center">
                <!-- Image -->
                <div class="blog-thumb">
                  <img class="w-100" src="https://outreach-research-innovation.com/storage/2021/05/ppolicy.jpg" alt="">
                </div>
                <h2 class="featured ml-0">Privacy Policy</h2>
                <h4>Introduction and Accepting the Terms
                  <p class='text-muted'>These Terms of Service (“Terms”), which include and hereby incorporate the Privacy Policy at hopebot.top/privacy-policy (“Privacy Policy”), are a legal agreement between DawnForge and its related companies (“Hope”, “MyGallery”, “Skye” or "us") and you ("you"). By using Hope (the “Bot”) or the website located at https://hopebot.top (the "Site"), which are collectively referred to as the “Service,” you agree (i) that you are 13 years of age or older, (ii) if you are the age of majority in your jurisdiction or over, that you have read, understood, and accept to be bound by the Terms, and (iii) if you are between 13 and the age of majority in your jurisdiction, that your legal guardian has reviewed and agrees to these Terms.</p>

                  <p class='text-muted'>The Company reserves the right, in its sole discretion, to modify or revise these Terms at any time, and you agree to be bound by such modifications or revisions. Any such change or modification will be effective seven (7) days following posting on the Service, and your continued use of the Service after the effective date will constitute your acceptance of, and agreement to, such changes or modifications. If you object to any change or modification, your sole recourse shall be to cease using the Service.</p>

                  <p class='text-muted'>DawnForge has developed multiple applications (such as: MyGallery, Hope, and others) for use with other aplications (such as: Discord online and mobile chat platform ("Discord")). This document applies to Hope (“HopeBot”, “bot”, “our bot”).</p>

                  <p class='text-muted'>By using our bots, you agree to be bound by this Agreement. You are expected to have read and understood this Agreement. DawnForge is not responsible for any damage done to servers by our bot so long as no developers are at fault.</p>
                </h4>
                <h4>Owner and Data Controller</h4>
                <p class='text-muted'>All data can only be accessed by <b>Klaus</b>, which agreed to not share/sell/distribute any of the stored data with third parties.</p>
                <p class='text-muted'>Owner contact discord: Klaus#1565</p>
                <p class='text-muted'>Owner contact email: hi@hopebot.top</p>
                <h4>Types of Data collected</h4>
                <p class='text-muted'>Among the types of Personal Data collects, by itself or through third parties, there are: Cookies; Usage Data; username; picture.
                <p class='text-muted'>Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using this Website.</p>
                <h3>User Data</h3>
                <p class='text-muted'>User Data includes but is not limited to User IDs, User IPs, User emails, profile pictures, user names, and user tags (“discriminator”). DawnForge uses Customer Data is a means to customize the Licensee's experience and help the Licensee in any way possible. Usage may include but is not limited to debugging information for commands such as "suggest" or "support" information to identify a user, use within message embeds, logging about the user and command usage.</p>
                <h3>Guild Data</h3>
                <p class='text-muted'>Guild Data includes but is not limited to Guild IDs, Guild icons, Guild names, Member count, Roles, Channels, and Roles possessed by a Member. Guild Data is a means to customize the Licensee's experience even further and help the Licensee in any way that the User Data is not helpful for. Usage may include but is not limited to debugging information for commands such as "suggest" or "support" information to identify a guild, use within message embeds, and logging about command usage. Furthermore, the developer use may use Guild Data in any way they need so long as they do not use it for any malicious purposes. Developer reserve the right to generate an invite to a guild in order to provide support or determine if the guild has been abusing any of our bots.</p>
                <h3>Usage and Storage of User Data and Guild Data</h3>
                <p class='text-muted'>DawnForge reserves the right to use and store Customer Data and Guild Data in any way necessary for the functionality of our bots. DawnForge will not use Customer Data or Guild Data for any malicious purposes, but will only use them when they are required for specific commands or features of our bots. Customer Data and Guild will only be stored in specific situations in which they are needed for a feature to persist. This includes but is not limited to user currency, event logging, blacklisting, and access to specific perks.</p>
                <p class='text-muted'>Unless specified otherwise, all Data requested by this Website is mandatory and failure to provide this Data may make it impossible for this Website to provide its services. In cases where this Website specifically states that some Data is not mandatory, Users are free not to communicate this Data without consequences to the availability or the functioning of the Service.</p>
                <p class='text-muted'>Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.</p>
                <p class='text-muted'>Any use of Cookies – or of other tracking tools – by this Website or by the owners of third-party services used by this Website serves the purpose of providing the Service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available.</p>
                <p class='text-muted'>Users are responsible for any third-party Personal Data obtained, published or shared through this Website and confirm that they have the third party's consent to provide the Data to the Owner.</p>
                <h6>Website</h6>
                <p class='text-muted'>DawnForge and it's services use Discord for authentication and in place of having our own accounts. Because of this we store your Discord ID in our secure databases. While logged in to the website, any account-linked action you perform, such as voting, will be stored with a reference to your Discord ID. Additionally, any data you submit, such as bots or votes, may be stored and displayed on our site.
                </p>
                <p class='text-muted'>Your privacy is important to us. It is DawnForge's policy to respect your privacy regarding any information we may collect from you across our website,
                  <a href="https://hopebot.top/">https://hopebot.top/
                  </a>, and other sites we own and operate.
                </p>
                <p class='text-muted'>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
                </p>
                <p class='text-muted'>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use or modification.
                </p>
                <p class='text-muted'>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
                </p>
                <p class='text-muted'>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
                </p>
                <p class='text-muted'>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.
                </p>
                <p class='text-muted'>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
                </p>
                <br>
                <h6>Bot</h6>
                <p class='text-muted'> The following may be collected via user run command, and may be entered by the user, voluntarily. This data is not collected automatically. When providing data in this way, you forego any rights to the content of the data provided.
                </p>
                <p class='text-muted'>- Server configurations (guild region, guild name, guild id, guild icon, owner tag, owner id)
                </p>
                <p class='text-muted'>- List of server's members
                <p class='text-muted'>- List of server's roles
                </p>
                <br>
                <p class='text-muted'> The following will be collected automatically when a server administrator configures the bot to perform checks for news or another automated feature within Hope Bot. These features are not enabled automatically, and therefore the following will not be collected automatically unless the corresponding feature is enabled by the server administrator.
                </p>
                <p class='text-muted'>Server configurations (channel names, channel ids, member names, member ids)
                </p>
                <br>
                <p class='text-muted'>- The following is collected automatically when Hope Bot joins a server. This data is used to provide statistics or server information.
                </p>
                <p class='text-muted'>- Server configurations (region, name, id, creation date, icon url, owner tag, owner id, large status)
                </p>
                <p class='text-muted'>- Server ownership
                </p>
                <p class='text-muted'>- Server member count
                </p>
                <p class='text-muted'>- Server role count
                </p>
                <p class='text-muted'>- Server channel count
                </p>
                <p class='text-muted'>- Server availability
                </p>
                <p class='text-muted'>- List of server's roles
                </p>
                <br>
                <p class='text-muted'> The following is collected when a user has access to the Hope Bot Admin Web Panel via Discord Oauth2 in order to verify identity and accessibility to admin services on Hope Bot. (This is only applicable to Hope Bot developers, and thus is not shared with anyone.)
                </p>
                <p class='text-muted'>- Discord Username
                </p>
                <p class='text-muted'>- Discord ID
                </p>
                <p class='text-muted'>- Discord Avatar
                </p>
                <p class='text-muted'>- Is server owner?
                </p>
                <p class='text-muted'>- Is server administrator?
                </p>
                <h3>Bot Usage</h3>
                <h6>Bot & Guilds</h6>
                <p class='text-muted'>DawnForge reserve the right to leave from any guild at any time. Developer may remove Hope from a server for any reason, such as: (a) Guild is abusing of the bot, causing issues with it. (b) Guild is slandering Hope's, MyGallery Bot's, Skye's, DawnForge or Klaus reputation. (c) We do not want our services to be associated with the server.</p>
                <h3>Official Server Bans</h3>
                <p class='text-muted'>If you are banned from any DawnForge's, MyGallery Bot's and/or Skye's related guild for any reason, we may apply a ban and be blacklisted on any of our other servers and services.</p>
                <h3>Spam and Bot Abuse</h3>
                <p class='text-muted'>If you spam commands or abuse any of our services in any way, you will be blacklisted and banned from any of our services. We will also add you to both Discord banlists and warn other bot developers about you and, if it was a serious violation (such as: raiding, harrasment and other violations), you may be banned from every server Hope is in.</p>
                <br>
                <h4>The purposes of data collection</h4>
                <p class='text-muted'>The Data concerning the User is collected to allow the Owner to provide its Service, comply with its legal obligations, respond to enforcement requests, protect its rights and interests (or those of its Users or third parties), detect any malicious or fraudulent activity, as well as the following: Analytics, Traffic optimization and distribution, Displaying content from external platforms, Infrastructure monitoring, Handling payments, Social features, Hosting and backend infrastructure and Registration and authentication.</p>
                <br>
                <h4>Retention time</h4>
                <p class='text-muted'>Personal Data shall be processed and stored for as long as required by the purpose they have been collected for.
                <h3>Therefore:</h3>
                <p class='text-muted'>Personal Data collected for purposes related to the performance of a contract between the Owner and the User shall be retained until such contract has been fully performed.</p>
                <p class='text-muted'>Personal Data collected for the purposes of the Owner’s legitimate interests shall be retained as long as needed to fulfill such purposes. Users may find specific information regarding the legitimate interests pursued by the Owner within the relevant sections of this document or by contacting the Owner.</p>
                <p class='text-muted'>The Owner may be allowed to retain Personal Data for a longer period whenever the User has given consent to such processing, as long as such consent is not withdrawn. Furthermore, the Owner may be obliged to retain Personal Data for a longer period whenever required to do so for the performance of a legal obligation or upon order of an authority.</p>
                <p class='text-muted'>Once the retention period expires, Personal Data shall be deleted. Therefore, the right of access, the right to erasure, the right to rectification and the right to data portability cannot be enforced after expiration of the retention period.</p>
                <p class='text-muted'> All data is stored on secured servers. Maximum efforts are taken to keep collected data, as defined above, protected, but absolute security cannot be guaranteed. We are not liable for any damages or stolen information, in which we collect, from our servers.</p>
                <br>
                <h4>Additional information about Data collection and processing</h4>
                <h3>Legal action</h3>
                <p class='text-muted'>The User's Personal Data may be used for legal purposes by the Owner in Court or in the stages leading to possible legal action arising from improper use of this Website or the related Services.</p>
                <p class='text-muted'>The User declares to be aware that the Owner may be required to reveal personal data upon request of public authorities.</p>
                <h3>Additional information about User's Personal Data</h3>
                <p class='text-muted'>In addition to the information contained in this privacy policy, this Website may provide the User with additional and contextual information concerning particular Services or the collection and processing of Personal Data upon request.</p>
                <h3>System logs and maintenance</h3>
                <p class='text-muted'>For operation and maintenance purposes, this Website and any third-party services may collect files that record interaction with this Website (System logs) use other Personal Data (such as the IP Address) for this purpose.</p>
                <h3>Information not contained in this policy</h3>
                <p class='text-muted'>More details concerning the collection or processing of Personal Data may be requested from the Owner at any time. Please see the contact information at the beginning of this document.</p>
                <h3>How “Do Not Track” requests are handled</h3>
                <p class='text-muted'>This Website does not support “Do Not Track” requests.</p>
                <p class='text-muted'>o determine whether any of the third-party services it uses honor the “Do Not Track” requests, please read their privacy policies.</p>
                <h3>Changes to this privacy policy</h3>
                <p class='text-muted'>The Owner reserves the right to make changes to this privacy policy at any time by notifying its Users on this page and possibly within this Website and/or - as far as technically and legally feasible - sending a notice to Users via any contact information available to the Owner. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom.</p>
                <p class='text-muted'>Should the changes affect processing activities performed on the basis of the User’s consent, the Owner shall collect new consent from the User, where required.</p>
                <p class='text-muted'> By being a member of a server which uses Hope Bot's services or features, you are consenting to the policies outlined in this agreement. If you, the server member, do not agree with any policies outlined in this agreement, you have the right to leave the server in which this bot is a part of.
                </p>
                <br>
                <h4>Disclaimer of Warranty</h4>
                <p class='text-muted'>THE SERVICES AND THE SERVICE MATERIALS ARE PROVIDED "AS IS" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT. IN ADDITION, WHILE THE COMPANY ATTEMPTS TO PROVIDE A GOOD USER EXPERIENCE, WE CANNOT AND DO NOT REPRESENT OR WARRANT THAT THE SERVICES WILL ALWAYS BE SECURE OR ERROR-FREE OR THAT THE SERVICES WILL ALWAYS FUNCTION WITHOUT DELAYS, DISRUPTIONS, OR IMPERFECTIONS. THE FOREGOING DISCLAIMERS SHALL APPLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.</p>
                <br>
                <p class='text-muted'> By adding Hope to your server, you are consenting to the policies outlined in this agreement. If you, the server administrator, do not agree with any of the policies outlined in this agreement, you have the right to remove Hope Bot from your server.
                </p>
                <br>
                <blockquote><p class='text-muted'><b>DawnForge's and it's developers reserve the right to blacklist any user or guild for any reason given. DawnForge's services are offered as is and are subject to change.</b></blockquote>
                </p>
                <br>
                <p class='text-muted'>By being a member of the DawnForge Team and having access to the Hope Admin Web Panel, you are consenting to the policies outlined in this agreement. If you, the service user, do not agree with any policies outlined in this agreement, you have the right to ask for removal of your access to the services.
                </p>
                <p class='text-muted'>- To request a copy of your data, or to request data removal, please sign into the dashboard
                  <a style='color: #7289DA' href='/dashboard'>here
                  </a>.
                </p>

                <!-- Post Holder -->
                <ul class="mb-5 post-holder">
                  <li class="post-meta-item">
                    <div class="date">
                      <span class="posted-on">Last modified: <a href="#" rel="bookmark"><time class="entry-date published updated" datetime="2021-12-02T06:18:46+00:00">Dec 02, 2021</time></a></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Sidebar -->
          <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
            <div class="row">
              <div class="col-12 align-self-center text-left">

                <!-- Widget [categories] -->
                <div class="item widget-categories">
                  <h4 class="title">Categories</h4>
                  <ul class="list-group list-group-flush">

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Transportation</a>
                      <span class="badge circle">23</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Business</a>
                      <span class="badge circle">15</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Lifestyle</a>
                      <span class="badge circle">12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Development</a>
                      <span class="badge circle">29</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Logistics</a>
                      <span class="badge circle">16</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Consulting</a>
                      <span class="badge circle">13</span>
                    </li>

                  </ul>
                </div>

                <!-- Widget [tags] -->
                <div class="item widget-tags">
                  <h4 class="title">Popular Tags</h4>

                  <a href="" class="badge tag">Business</a>
                  <a href="" class="badge tag">Logistics</a>
                  <a href="" class="badge tag">Cargo</a>
                  <a href="" class="badge tag">Shipping</a>
                  <a href="" class="badge tag">Transportation</a>
                  <a href="" class="badge tag">WordPress</a>
                  <a href="" class="badge tag">Development</a>
                  <a href="" class="badge tag">Industry</a>

                </div>

                <!-- Widget [share-this] -->
                <div class="item widget-share-this">
                  <h4 class="title">Share This</h4>
                  <ul class="navbar-nav social share-list">

                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-instagram ml-0"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                    </li>

                  </ul>
                </div>

              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <!-- ***** Blog Single Area End ***** -->

    <!--====== Footer Area Start ======-->
    <%- include('./partials/_footer.ejs') %>
    <!--====== Footer Area End ======-->

    <!--====== Modal Search Area Start ======-->
    <div id="search" class="modal fade p-0">
      <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
          <div class="modal-header" data-dismiss="modal">
            Search <i class="far fa-times-circle icon-close"></i>
          </div>
          <div class="modal-body">
            <form class="row">
              <div class="col-12 align-self-center">
                <div class="row">
                  <div class="col-12 pb-3">
                    <h2 class="search-title mt-0 mb-3">What are you looking for?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 input-group mt-4">
                    <input type="text" placeholder="Enter your keywords">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 input-group align-self-center">
                    <button class="btn btn-bordered-white mt-3">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--====== Modal Search Area End ======-->

    <!--====== Modal Responsive Menu Area Start ======-->
    <div id="menu" class="modal fade p-0">
      <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
          <div class="modal-header" data-dismiss="modal">
            Menu <i class="far fa-times-circle icon-close"></i>
          </div>
          <div class="menu modal-body">
            <div class="row w-100">
              <div class="items p-0 col-12 text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== Modal Responsive Menu Area End ======-->

  <!--====== Scroll To Top Area Start ======-->
  <div class="scroll-top">
    <a class="smoothscroll" href="#top" name="translate" caption="scroll_to_top">Scroll to Top
    </a>
  </div>
  <!--====== Scroll To Top Area End ======-->

  <style>
    p {
      margin: 0 !important;
      font-size: var(--p-size);
      font-weight: var(--p-weight);
      line-height: 1.5;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  </style>
  </div>


  <!-- ***** All jQuery Plugins ***** -->

  <!-- jQuery(necessary for all JavaScript plugins) -->
  <script src="assets/website/js/vendor/jquery.min.js"></script>

  <!-- Bootstrap js -->
  <script src="assets/website/js/vendor/popper.min.js"></script>
  <script src="assets/website/js/vendor/bootstrap.min.js"></script>

  <!-- Plugins js -->
  <script src="assets/website/js/vendor/all.min.js"></script>
  <script src="assets/website/js/vendor/slider.min.js"></script>
  <script src="assets/website/js/vendor/countdown.min.js"></script>
  <script src="assets/website/js/vendor/shuffle.min.js"></script>

  <!-- Active js -->
  <script src="assets/website/js/main.js"></script>
</body>

</html>