<!doctype html>
<html class="no-js" lang="en">

  <head>
    <%- include('./partials/_seo.ejs') %>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
    <!-- Title  -->
    <title>Terms of Service - Hope</title>
  
    <!-- Style css -->
    <link rel="stylesheet" href="assets/website/css/style.css">
    <noscript>
      <div class="no-js">
        To view the page please enable javascript in your browser
      </div>
    </noscript>
  </head>

<body>
  <div class="main">
    <!-- ***** Header Start ***** -->
    <%- include('./partials/_header.ejs') %>
    <!-- ***** Header End ***** -->

    <!-- ***** Breadcrumb Area Start ***** -->
    <section class="breadcrumb-area overlay-dark d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Breamcrumb Content -->
            <div class="breadcrumb-content text-center">
              <h2 class="m-0">Terms of Service</h2>
              <ol class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                <li class="breadcrumb-item"><a href="/terms-of-service">Terms of Service</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Blog Single Area Start ***** -->
    <section class="single featured post-details">
      <div class="container">
        <div class="row">
          <!-- Main -->
          <div class="col-12 col-lg-8 p-0">
            <div class="row">
              <div class="col-12 align-self-center">
                <!-- Image -->
                <div class="blog-thumb">
                  <img class="w-100" src="https://media.npr.org/assets/img/2020/03/04/accept_terms_wide-d65e4c6e4c775f09d49a6bf8b299cebe037f4459.jpg" alt="">
                </div>
                <h2 class="featured ml-0">Terms of Service</h2>
                <h4>Website</h4>
                <p>By accessing the website at <a href="https://hopebot.top" rel="tos">https://hopebot.top</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
                <h3 class='text-muted'>1. Use License
                </h3>
                <ol type="a" class='text-muted'>
                  <li class='text-muted'> Permission is granted to temporarily download one copy of the materials (information or software) on Hope Bot's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
                    <blockquote>
                      <ol type="i">
                        <li>modify or copy the materials;
                        </li>
                        <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
                        </li>
                        <li>attempt to decompile or reverse engineer any software contained on Hope Bot's website;
                        </li>
                        <li>remove any copyright or other proprietary notations from the materials; or
                        </li>
                        <li>transfer the materials to another person or "mirror" the materials on any other server.
                        </li>
                      </ol>
                    </blockquote>
                  </li>
                  <li class='text-muted'>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Hope Bot at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
                  </li>
                </ol>
                <h3 class='text-muted'>2. Disclaimer
                </h3>
                <ol type="a" class='text-muted'>
                  <li>The materials on Hope Bot's website are provided on an 'as is' basis. Hope Bot makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
                  </li>
                  <li>Further, Hope Bot does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
                  </li>
                </ol>
                <h3 class='text-muted'>3. Limitations
                </h3>
                <p class='text-muted'>In no event shall Hope Bot or its suppliers be liable for any damages or data loss (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Hope Bot's website, even if Hope Bot or a Hope Bot authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
                </p>
                <h3 class='text-muted'>4. Accuracy of Materials
                </h3>
                <p class='text-muted'>The materials appearing on Hope Bot's website could include technical, typographical, or photographic errors. Hope Bot does not warrant that any of the materials on its website are accurate, complete or current. Hope Bot may make changes to the materials contained on its website at any time without notice. However Hope Bot does not make any commitment to update the materials.
                </p>
                <h3 class='text-muted'>5. Links
                </h3>
                <p class='text-muted'>Hope Bot has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Hope Bot of the site. Use of any such linked website is at the user's own risk.
                </p>
                <h3 class='text-muted'>6. Modifications
                </h3>
                <p class='text-muted'>Hope Bot may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
                </p>
                <h3 class='text-muted'>7. Governing Law
                </h3>
                <p class='text-muted'>These terms and conditions are governed by and construed in accordance with the laws of FL and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
                </p>
                <p>

                  <!-- Post Holder -->
                <ul class="mb-5 post-holder">
                  <li class="post-meta-item">
                    <div class="date">
                      <span class="posted-on">Last modified: <a href="#" rel="bookmark"><time class="entry-date published updated" datetime="2021-12-02T06:18:46+00:00">Dec 02, 2021</time></a></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Sidebar -->
          <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
            <div class="row">
              <div class="col-12 align-self-center text-left">

                <!-- Widget [categories] -->
                <div class="item widget-categories">
                  <h4 class="title">Categories</h4>
                  <ul class="list-group list-group-flush">

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Transportation</a>
                      <span class="badge circle">23</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Business</a>
                      <span class="badge circle">15</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Lifestyle</a>
                      <span class="badge circle">12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Development</a>
                      <span class="badge circle">29</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Logistics</a>
                      <span class="badge circle">16</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">Consulting</a>
                      <span class="badge circle">13</span>
                    </li>

                  </ul>
                </div>

                <!-- Widget [tags] -->
                <div class="item widget-tags">
                  <h4 class="title">Popular Tags</h4>

                  <a href="" class="badge tag">Business</a>
                  <a href="" class="badge tag">Logistics</a>
                  <a href="" class="badge tag">Cargo</a>
                  <a href="" class="badge tag">Shipping</a>
                  <a href="" class="badge tag">Transportation</a>
                  <a href="" class="badge tag">WordPress</a>
                  <a href="" class="badge tag">Development</a>
                  <a href="" class="badge tag">Industry</a>

                </div>

                <!-- Widget [share-this] -->
                <div class="item widget-share-this">
                  <h4 class="title">Share This</h4>
                  <ul class="navbar-nav social share-list">

                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-instagram ml-0"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                    </li>

                  </ul>
                </div>

              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <!-- ***** Blog Single Area End ***** -->

    <!--====== Footer Area Start ======-->
    <%- include('./partials/_footer.ejs') %>
    <!--====== Footer Area End ======-->

    <!--====== Modal Search Area Start ======-->
    <div id="search" class="modal fade p-0">
      <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
          <div class="modal-header" data-dismiss="modal">
            Search <i class="far fa-times-circle icon-close"></i>
          </div>
          <div class="modal-body">
            <form class="row">
              <div class="col-12 align-self-center">
                <div class="row">
                  <div class="col-12 pb-3">
                    <h2 class="search-title mt-0 mb-3">What are you looking for?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 input-group mt-4">
                    <input type="text" placeholder="Enter your keywords">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 input-group align-self-center">
                    <button class="btn btn-bordered-white mt-3">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--====== Modal Search Area End ======-->

    <!--====== Modal Responsive Menu Area Start ======-->
    <div id="menu" class="modal fade p-0">
      <div class="modal-dialog dialog-animated">
        <div class="modal-content h-100">
          <div class="modal-header" data-dismiss="modal">
            Menu <i class="far fa-times-circle icon-close"></i>
          </div>
          <div class="menu modal-body">
            <div class="row w-100">
              <div class="items p-0 col-12 text-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== Modal Responsive Menu Area End ======-->

  <!--====== Scroll To Top Area Start ======-->
  <div class="scroll-top">
    <a class="smoothscroll" href="#top" name="translate" caption="scroll_to_top">Scroll to Top
    </a>
  </div>
  <!--====== Scroll To Top Area End ======-->

  <style>
    p {
      margin: 0 !important;
      font-size: var(--p-size);
      font-weight: var(--p-weight);
      line-height: 1.5;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  </style>
  </div>


  <!-- ***** All jQuery Plugins ***** -->

  <!-- jQuery(necessary for all JavaScript plugins) -->
  <script src="assets/website/js/vendor/jquery.min.js"></script>

  <!-- Bootstrap js -->
  <script src="assets/website/js/vendor/popper.min.js"></script>
  <script src="assets/website/js/vendor/bootstrap.min.js"></script>

  <!-- Plugins js -->
  <script src="assets/website/js/vendor/all.min.js"></script>
  <script src="assets/website/js/vendor/slider.min.js"></script>
  <script src="assets/website/js/vendor/countdown.min.js"></script>
  <script src="assets/website/js/vendor/shuffle.min.js"></script>

  <!-- Active js -->
  <script src="assets/website/js/main.js"></script>
</body>

</html>