:root {
	--modal-scale: 0.07;
	--modal-padding: 60px;
}

.modal {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease 0.2s;
	// transition-property: height, width, opacity;
	-webkit-transform: translateZ(0);
	background: var(--background-primary);
	transform: scale(0.93);
	display: flex;
	z-index: 1;

	&.open {
		visibility: visible;
		opacity: 1;
		transform: scale(calc(1 + var(--modal-scale)));
		margin: 0;
	}

	.sidebar {
		width: 30%;
		padding: var(--modal-padding) 20px;
		background: var(--background-secondary);
		flex-shrink: 1;
		display: flex;
		justify-content: flex-end;
	}

	& > .content {
		width: 100%;
		max-width: 740px;
		padding: var(--modal-padding) 40px 80px;
		padding-right: calc(var(--modal-padding) * 2);
		overflow: auto;

		.headline {
			text-align: left !important;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.close-wrapper {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		right: var(--modal-padding);
		top: var(--modal-padding);

		.text {
			margin-top: 0.5rem;
			color: var(--text-muted);
		}

		.close {
			cursor: pointer;
			border-radius: 50%;
			padding: 0.5rem;
			border: 2px solid var(--text-muted);
			display: inline-flex;
			justify-content: center;
			align-items: center;

			.icon {
				color: var(--text-strong);
			}
		}
		.close:hover {
			background-color: var(--background-modal);
		}
	}
}

.modal-background {
	transition: transform ease 0.2s;

	&.modal-open {
		transform: scale(calc(1 - var(--modal-scale)));
	}
}