<% for (const channel of ch.channels) { %>
    <% if (channel.type === 0 && channel.id !== var1) { %>
      <option value="<%= channel.id %>">#<%= channel.name %></option>
      <% } else if (channel.type === 0 && channel.id == var1) { %>
      <option value="<%= channel.id %>" selected>#<%= channel.name %></option>
    <% } %>
  <% } %>

  <% if (var2 === false) { %>
    <option selected value="disabled">#Disabled</option>
  <% } else { %>
    <option value="disabled">#Disabled</option>
  <% } %>